/* General Styles */
body {
    background-color: #cbc4dd;/* Lime 300 */
    color: #374151; /* Gray 800 */
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.custom-navbar {
    
    background-color: #bdabe9;;;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

/* Header */
.custom-header {
    border-bottom: 2px solid #c2b6df;; /* Light gray */
    background-color: #cbc4dd;; /* Lime 300 */
    padding: 2rem;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
    animation: fadeIn 0.5s ease-in forwards;
}

/* About Section */
#about {
    background-color: #c2b8dd; /* Lime 300 */
    opacity: 50;
    /*border-bottom: 2px solid #b5adc7; /* Light gray */
    animation: fadeIn 1s ease-in forwards;
    padding: 3rem 0;
}

/* Projects Section */
#projects {
    background-color: #c2b8dd; /* Lime 200 (one shade lighter) */
    padding: 3rem 0;
    transition: background-color 0.3s ease;
    border-bottom: 2px solid #bfb6d3;
    animation: fadeIn 4s ease-in forwards;
}

/* Project Card */
.custom-project-card {
    border: 1px solid #6c40da; /* Light gray border */
    background-color: #bdabe9; /* Lime 200 (one shade lighter) */
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 6s ease-in forwards;
}

.custom-project-card:hover {
    background-color: #a387eb; /* Slightly darker shade */
    transform: scale(1.02);
    
}
}

/* Experience Section */
#experience {
    background-color: #b0a0da;; /* Lime 400 */
    padding: 3rem 0;
    opacity: 0;
    animation: fadeIn 7s ease-in forwards;
}

/* Footer */
.custom-footer {
    border-top: 2px solid #bdabe9; /* Light gray */
    background-color: #bdabe9; /* Lime 300 */
    color: #374151; /* Gray 800 */
    padding: 1.5rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .custom-navbar {
        padding: 4px;
    }
    .custom-header {
        padding: 4px;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
